*{
  font-family:cursive;
}
.s1, .s2, .s3, .s4, .s5{
  background-color: #ebebeb;
  width: 700px;
}
a, img, blockquote, cite{
  display: block;
}
h1{
  color : rgb(201, 1, 102);
  background-color: rgba(250, 177, 247, 0.64);
  border-radius: 20px;
  border: 2px solid rgb(171, 0, 100);
  padding: 40px 40px;
}
ol, h1{
  width: 500px;
}
.first-h{
  background-color:rgb(223,223,223);
  width: 300px;
}
.ul-list,blockquote{
  color:red;
}
.ul-list-T{
  color:black;
}
.special-li, .first-h{
  color:blue;
}
.second-h{
  background-color:black;
  color:white;
  width: 300px;
}
p{
  color:rgb(0, 104, 138);
  border: 3px solid rgb(122, 122, 122);
  font-style: italic;
  font-weight: bold;
  background-color: #ddd;
  padding: 20px 20px ;
  width: 100px;
  border-radius:30px;
  text-decoration: underline;
}
P, .second-h, .first-h, ol, a, img, blockquote, cite, h1, div{
  margin-left: auto;
  margin-right: auto;
}
P, .second-h, .first-h, h4, h1,a, blockquote, cite{
  text-align:center;
